.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    content: " \f067";
    font-family: FontAwesome;
    font-size: .8rem;
    font-weight: 700;
    margin-left: 1rem;
    position: relative;
    right: auto;
    -webkit-transition: 5s ease;
    transition: all .5s ease;
    opacity: .5;
    left: 10px;
    border-top: 0 solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin: 0 0;
    border-width: 0;
}
.dropdown-menu .dropdown .dropdown-menu.left {
    right: 50%;
    left: auto;
}
.dropdown-menu > li.show {
    top: 0;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
    background: #D6C590;
    color: #676464;
}
.dropdown-menu > li.show > a {
    color: white;
}

.navbar-nav .nav-link {
    padding: 0 0;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
/*        border-width: 1px;*/
    }
    
    .navbar-nav .nav-link {
    padding: 0 0;
}

}
